

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" >
        <img class="d-block w-100 .active" src="https://m.economictimes.com/thumb/msid-95362413,width-6000,height-3376,resizemode-4,imgsize-604480/formal-shoes-for-men.jpg" alt="First slide">
      </div>
    >
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <div class="productCard" >
    
    <div class="card" *ngFor="let item of popularProduct">
      <div>
        <img src="{{item.image}} " alt="image">
      </div>
      <div class="cardDetails">
        <h6>{{item.name}} </h6>
        <h6 class="price">₹{{item.price}} </h6>
        <h6>{{item.color}} </h6>
        <h6>{{item.description}} </h6>
        
      </div>
      <hr>
      <div class="product_details">
        <a href="">View Details</a>
        <a href="">Add to Cart</a>
      </div>
    </div>
  </div> 